@model TimeSeries.Domain.Entities.TimeSerie

@{
    ViewBag.Title = "Управление временным рядом";
}

@section MenuMain{
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("Временные ряды", "List", "TimeSerie")</li>
        <li>@Html.ActionLink("Визуализация", "Visualize", "TimeSerie")</li>
    </ul>
}
<article class="article clearfix">
    <div class="col_66">
        <h2>Управление временным рядом</h2>

        @using (Html.BeginForm("Edit", "TimeSerie", FormMethod.Post))
        {
            @Html.Hidden("TimeSerieId", @Model.TimeSerieId)
            @Html.EditorFor(x=>x.VectorData)
            <br />
            <div>
                <input type="submit" class="button green" value="Сохранить" />   |
                @Html.ActionLink("Вернуться к списку", "List", "TimeSerie", new { @class = "button orange" })
            </div>

            <br /><br />
        }

        
    </div>
</article>
@section MenuBottom{
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "TimeSerie")</li>
        <li>@Html.ActionLink("Временные ряды", "List", "TimeSerie")</li>
        <li>@Html.ActionLink("Визуализация", "Visualize", "TimeSerie")</li>
    </ul>
}
