@model TimeSeries.WebUI.Models.LoginModel

@{
    ViewBag.Title = "Вход";
}

@section MenuMain{
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("Временные ряды", "List", "TimeSerie")</li>
        <li>@Html.ActionLink("Визуализация", "Visualize", "TimeSerie")</li>
    </ul>
}

<article class="article clearfix">
    <div class="col_66">
        <h2>Вход</h2>
        <h4>Введите данные, указанные при регистрации</h4>
        <hr />
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <button class="button blue" type="submit">Вход</button>
                </div>
            </div>
        }
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</article>

@section MenuBottom{
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("Временные ряды", "List", "TimeSerie")</li>
        <li>@Html.ActionLink("Визуализация", "Visualize", "TimeSerie")</li>
    </ul>
}
